<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About - OptiCrop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

    <h1>🌾 OptiCrop</h1>

    <nav>

        <a href="/">Home</a>

        <a href="/about">About</a>

        <a href="/findyourcrop">Find Your Crop</a>

    </nav>

</header>

<section class="container">

    <h2>About OptiCrop</h2>

<p>

OptiCrop is a Machine Learning based Crop Recommendation System that predicts the most suitable crop according to soil nutrients and environmental conditions.

</p>

<br>

<h3>Project Features</h3>

<ul>

<li>🌱 Intelligent Crop Prediction</li>

<li>🌦 Weather & Soil Analysis</li>

<li>📈 Machine Learning Model</li>

<li>⚡ Real-Time Recommendation</li>

<li>💻 User Friendly Interface</li>

</ul>

<br>

<h3>Technologies</h3>

<p>

Python • Flask • HTML • CSS • Pandas • NumPy • Scikit-Learn

</p>
<hr>

<br>

<h3>Benefits</h3>

<ul>

<li>✔ Improves crop productivity</li>

<li>✔ Supports smart farming</li>

<li>✔ Reduces crop selection errors</li>

<li>✔ Uses Machine Learning for prediction</li>

<li>✔ Easy to use for farmers</li>

</ul>
</section>

<footer>

<p>

🌾 OptiCrop | Smart Agricultural Production Optimization Engine

</p>

<p>

Developed by Sai Ram

</p>

</footer>
</body>

</html>