<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiCrop - Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>

    <h1>🌾 OptiCrop</h1>

    <nav>

        <a href="/">Home</a>

        <a href="/about">About</a>

        <a href="/findyourcrop">Find Your Crop</a>

    </nav>

</header>

    <section class="hero">

    <div class="hero-content">

        <h2>🌾 OptiCrop</h2>

        <h3>Smart Agricultural Production Optimization Engine</h3>

        <p>
            A Machine Learning based crop recommendation system that predicts the
            most suitable crop using soil nutrients and environmental conditions
            such as Nitrogen, Phosphorous, Potassium, Temperature, Humidity,
            pH and Rainfall.
        </p>

        <a href="/findyourcrop">
            <button>🌱 Start Prediction</button>
        </a>

    </div>

</section>
<footer>

<p>

🌾 OptiCrop | Smart Agricultural Production Optimization Engine

</p>

<p>

Developed by Sai Ram

</p>

</footer>
</body>

</html>